---
layout: page
title: Projects
description: Some projects I have made
---
<h2>Personal projects</h2>
<h2>School projects</h2>
<h3>TextClassify</h3>
<em>Fifth semester's project, to be release in 2018</em>
<h3>DrunkYet</h3>
<div class="cols-3-container">
    <div class="col-2 top">
        <em>Web application's course team's project, released in 2017</em>
        <p>
            A web application to calculate the alcohool level. Implemented with the Laravel PHP framework this application pruposes to add the drinks we consume and computes the alcohool level in the blood.
        </p>
        {% include github-btn.html url='https://github.com/HE-Arc/DrunkYet' %}
    </div>
    <div class="col">
        <figure>
            <img width="50%" src="./img/project_drunkyet.png" alt="Screenshot of DrunkYet">
            <figcaption>Screenshot of DrunkYet</figcaption>
        </figure>
    </div>
</div>
<h3>GeoWalk</h3>
<div class="cols-3-container">
    <div class="col">

    </div>
    <div class="col-2">
        <em>Mobile application's course team's project, released in 2018</em>
        <p>
            GeoWalk is a geocaching android application. It uses Google's Firebase, Maps and Vision API to respictivly store the datas online, show a map with marker and scan QRCodes.
        </p>
        <p>
            This application use some games facilies as scores and ranks.
        </p>
        {% include github-btn.html url='https://github.com/Wolfwalker96/GeoWalk' %}
    </div>
</div>
<h3>ManGO</h3>
<div class="cols-3-container">
    <div class="col-2 top">
        <em>CFC's graduation project, released in 2015</em>
        <p>
            A simple domotic and multimedia system usable through a web interface optimized for tablets. The main features were the control of Philips Hue light, a music and vidéo player and a security camera.
        </p>
        <p>
            The program was implemented on a Raspberry B board.
        </p>
    </div>
    <div class="col">
        <figure>
            <img src="./img/project_mango.png" alt="Mango banner">
            <figcaption>Project's banner</figcaption>
        </figure>
    </div>
</div>
