---
layout: page
---
<article>
  {{ page.content }}
</article>
<aside>
  <h1>About the author</h1>
  <div id="author">
    <img class="avatar" src="https://avatars0.githubusercontent.com/u/23233407"/>
    <span>Paul Jeanbourquin</span>
  </div>
  <h1>About the post</h1>
  <div style="text-align:center;">Published the {{ page.date | date: '%-d %B %Y' }}</div>
  <h1>Links</h1>
  <div id="links">
    {% if page.github %}
      {% include github-btn.html url=page.github %}
    {% endif %}
    {% if page.online %}
      {% include online-btn.html url=page.online %}
    {% endif %}
  </div>
</aside>
